layout {

    focus-ring {
        active-color   "#8badc1"
        inactive-color "#1a2023"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#8badc1"
        inactive-color "#1a2023"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#8badc1"
        inactive-color "#2f546a"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#8badc180"
    }
}

recent-windows {
    highlight {
        active-color "#8badc1"
        urgent-color "#fd4663"
    }
}
